<script src="{{ site.assets_base_url }}js/main.js"></script>
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% elsif layout.custom_js %}
  {% for js_file in layout.custom_js %}
    <script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<!-- Add here more: Google Analytics etc. -->
<script src="{{ site.assets_base_url }}js/cookie.js" async></script>
